<%- include('parts/header')%>
<%- include('parts/navbar')%>
<% var error %>

<div class="container">
    <div class="col-5 m-auto mt-5 bg-light p-3">
        <h3 class="text-center">Register</h3>
        <% if (error) { %>
          <div  class="alert alert-danger" role="alert">
            <%= error %>
          </div>
          <% } %>
        <form action="/register" method="POST">
            <div class="form-group mt-3">
              <label for="exampleInputName1">Name</label>
              <input name="name" type="text" class="form-control mt-1" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter name" required>
            </div>
            <div class="form-group mt-3">
              <label for="exampleInputEmail1">Email Address</label>
              <input name="email" type="email" class="form-control mt-1  " id="exampleInputEmail1" placeholder="Enter email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group mt-3">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" class="form-control mt-1" id="exampleInputPassword1" placeholder="Password" required>
              </div>
            <div class="form-group form-check mt-3">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">Accept Privacy&Terms</label>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>
          <p class="mt-4">Already registered? <a href="/login">Login here</a></p>
    </div>
</div>


<%- include('parts/footer')%>